// font-size variables


$fontsize01 : 12px;
$fontsize02 : 14px;
$fontsize03 : 16px;
$fontsize04 : 18px;
$fontsize05 : 24px;
$fontsize06 : 36px;
$fontsize07 : 42px;


// color variables

$color01 : #f5f6fa;
$color02 : #34495e;
$color03 : #006994;